.env
.env.DEV
.env.PRD
cute/bird/*
!cute/bird/README.md
cute/bunny/*
!cute/bunny/README.md
cute/cat/*
!cute/cat/README.md
cute/dog/*
!cute/dog/README.md
cute/duck/*
!cute/duck/README.md
cute/frog/*
!cute/frog/README.md
cute/rat/*
!cute/rat/README.md
cute/turtle/*
!cute/turtle/README.md
guilds.json
leaderboards.json
node_modules/
users.json